<div class="base-container">
    <div class="page-heading">
        <img src="assets/logo.svg" class="logo" alt="logo">
    </div>
    <div class="page-container">
        <video [autoplay]="true" [muted]="true" [loop]="true" class="video-container">
            <source [src]="videoURl" type="video/mp4">
        </video>        
        <div class="hand {{isPlaying ? 'invisible' : ''}}" (click)="toggleAnimation()">
            <ng-lottie [options]="options" width="600px" (animationCreated)="animationCreated($event)" height="500px"></ng-lottie>
          </div>
    </div>
</div>
